body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(98deg, #5e60ce 70%, #0056b3);
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}

.container {
  background: white;
  border-radius: 8px;
  padding: 10px 20px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

form label {
  margin-bottom: 5px;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box
}

.w-full {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
tr {
  border-bottom: 1px solid #ddd;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table tr:hover {
  background-color: #f2f2f2;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions div {
  padding: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions div:hover {
  background-color: #dddddd;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
  text-align: center;
  position: relative;
}

.modal-cross-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 8px
}

a {
  text-decoration: none;
  color: unset;
}

.breadcrumbs {
  color: #8080809e;
  font-size: 14px;
}

.breadcrumbs a:hover {
  color: #5251519e
}

a:hover {
  color: unset;
}

.text-white {
  color: "#ffffff"
}

.mt-20 {
  margin-top: 20px;
}

.p-20 {
  padding: 20px;
}

.division-y {
  margin: 10px 0px;
}

.error {
  color: red;
  font-size: 13px;
}



/* Flex Container Properties */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* Flex Item Properties */
.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}
